
.login-img{
    background-image: linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.25)), url('./loginpics.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-glass{
    /* From https://css.glass */
/*background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);*/

/* From https://css.glass */
background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-glass.rounded {
    border-radius: 0.25rem;
}